.tab-parent {
    width: 100%;
}

.tab-container {
    width: 15%;
    padding: 0px 20px;
}

.tab-content {
    width: 85%;
}

.page-container {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}